.vs/VSWorkspaceState.json
.vs/crypto-data-streaming/FileContentIndex/read.lock
.vs/crypto-data-streaming/v17/.wsuo
.vs/crypto-data-streaming/FileContentIndex/8efeb1bd-3333-4484-86a4-b114e4fb1f84.vsidx
*.env
